.wrapper {
  font-family: 'Roboto';
  font-size: 24px;
  color: #FFFFFF;
}

.block {
  border: 4px blue solid;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.north {
  background: #d96550;
  padding: 40px;
  margin: 0;
}

.south {
  background: #5dbde3;
  padding: 40px;
  margin: 0;
}